@media (max-width: 1920px) and (max-height: 1080px) {
* {
	margin: 0 auto;
}
html {background-image: url(https://get.wallhere.com/photo/minimalism-sky-blue-gradient-blurred-circle-atmosphere-lens-flare-light-line-screenshot-2560x1600-px-computer-wallpaper-atmosphere-of-earth-550559.jpg);
	background-repeat: repeat;
	background-position-y: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 20%;
	min-width: 20%;
	overflow-x: hidden
}
@font-face {
  font-family: Pusia;
  src: url(Pusia Bold.otf);
}
@font-face {
  font-family: Comic Sans MS;
  src: url(Comic Sans MS.ttf);
}
.header {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 150px;
	width: 1920px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.header-img {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 100px;
	height: 100px;
}
.head-2-img {
	position: absolute;
	top: 1px;
	left: 35px;
	width: 310px;
	height: 140px;
}
.btn-send {
	position: absolute;
	top: 52px;
	left: 290px;
	background-color: #25ff00;
	border-radius: 12px;
	text-decoration: none;
	display: inline-block;
	color: white;
	transition: 0.45s;
	font-size: 15px;
	font-weight: 700;
	padding: 10px 10px;
	font-family: "Arial";
}
.btn-send:hover {
	background-color: #8de22b;
}
.btn-vhod {
	position: absolute;
	top: 48px;
	left: 1760px;
	background-color: #228B22;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	color: white;
	transition: 0.45s;
	font-size: 20px;
	font-weight: 600;
	padding: 7px 25px;
	text-shadow: 0 14px 15px rgba(27, 28, 30, .31);
	font-family: "Pusia";
}
.btn-vhod:hover {
	background-color: #8de22b;
}
.search {
	position: absolute;
	top: 50px;
	left: 750px;
}
.search-1 {
	width: 400px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.3);
	outline: none;
	border-color: #fff;
	border-style: none;
	font-size: 20px;
	border-radius: 3px;
	text-decoration: none;
	color: #BFBFBF;
}
input[type=text]::-ms-clear {  
	display: none; 
	width : 0; 
	height: 0; 
}
input[type=text]::-ms-reveal {
	  display: none; 
	  width : 0; 
	  height: 0; 
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	 display: none; 
}
.search-1:hover, .search-1:focus {
	background-color: rgba(224, 224, 224, 0.3);
}
::placeholder {
	color: #BFBFBF;
}
.a-tags-container {
	position: absolute;
	top: 150px;
	left: 70px;
	width: 1750px;
	height: 100px;
}
/* 1 */
.a-1 {
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(https://i.imgur.com/i5308Bq.jpeg);
	width: 150px;
	height: 100px;
	border-radius: 5px;
}
.a-1:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-1-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 150px;
	height: 50px;
	background-color: rgb(255, 167, 39);
}
.txt-1 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 19px;
	top: 5px;
}
.txt-2-1 {
	font-size: 13px;
	color: rgba(128, 128, 128);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 40px;
	top: 25px;
}
/* 2 */
.a-2 {
	position: absolute;
	top: 0px;
	left: 165px;
	background-image: url(https://i.imgur.com/SE9fnfu.jpeg);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-2:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-2-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(0, 76, 255);
}
.txt-2 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 30px;
	top: 5px;
}
.txt-2-2 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 22px;
	top: 25px;
}
/* 3 */
.a-3 {
	position: absolute;
	top: 0px;
	left: 285px;
	background-image: url(https://i.imgur.com/UJ0WEPB.jpeg);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-3:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-3-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(0, 149, 255);
}
.txt-3 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 42px;
	top: 5px;
}
.txt-2-3 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 17px;
	top: 25px;
}
/* 4 */
.a-4 {
	position: absolute;
	top: 0px;
	left: 405px;
	background-image: url(https://i.imgur.com/9KLVQ3L.jpeg);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-4:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-4-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(0, 51, 81);
}
.txt-4 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 32px;
	top: 5px;
}
.txt-2-4 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 17px;
	top: 25px;
}
/* 5 */
.a-5 {
	position: absolute;
	top: 0px;
	left: 525px;
	background-image: url(https://i.imgur.com/T59axC7.png);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-5:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-5-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(25, 25, 25);
}
.txt-5 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 22px;
	top: 5px;
}
.txt-2-5 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 22px;
	top: 25px;
}
/* 6 */
.a-6 {
	position: absolute;
	top: 0px;
	left: 645px;
	background-image: url(https://i.imgur.com/MLo2972.jpeg);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-6:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-6-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(194, 169, 180);
}
.txt-6 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 35px;
	top: 5px;
}
.txt-2-6 {
	font-size: 13px;
	color: rgba(128, 128, 128);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 16px;
	top: 25px;
}
/* 7 */
.a-7 {
	position: absolute;
	top: 0px;
	left: 765px;
	background-image: url(https://i.imgur.com/r68IOzl.jpeg);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-7:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-7-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(248, 193, 92);
}
.txt-7 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 32px;
	top: 5px;
}
.txt-2-7 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 16px;
	top: 25px;
}
/* 8 */
.a-8 {
	position: absolute;
	top: 0px;
	left: 885px;
	background-image: url(https://i.imgur.com/9Gl0pw2.jpeg);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-8:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-8-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(255, 63, 23);
}
.txt-8 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 42px;
	top: 5px;
}
.txt-2-8 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 17px;
	top: 25px;
}
/* 9 */
.a-9 {
	position: absolute;
	top: 0px;
	left: 1005px;
	background-image: url(https://i.imgur.com/A6AisvE.jpeg);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-9:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-9-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(199, 228, 255);
}
.txt-9 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 29px;
	top: 5px;
}
.txt-2-9 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 22px;
	top: 25px;
}
/* 10 */
.a-10 {
	position: absolute;
	top: 0px;
	left: 1125px;
	background-image: url(https://i.imgur.com/ip8894C.png);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-10:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-10-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(115, 127, 140);
}
.txt-10 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 34px;
	top: 5px;
}
.txt-2-10 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 17px;
	top: 25px;
}
/* 11 */
.a-11 {
	position: absolute;
	top: 0px;
	left: 1245px;
	background-image: url(https://i.imgur.com/QAOOCtl.png);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-11:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-11-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(67, 61, 41);
}
.txt-11 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 24px;
	top: 5px;
}
.txt-2-11 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 22px;
	top: 25px;
}
/* 12 */
.a-12 {
	position: absolute;
	top: 0px;
	left: 1365px;
	background-image: url(https://i.imgur.com/FIWiK7Q.png);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-12:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-12-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(219, 66, 120);
}
.txt-12 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 28px;
	top: 5px;
}
.txt-2-12 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 16px;
	top: 25px;
}
/* 13 */
.a-13 {
	position: absolute;
	top: 0px;
	left: 1485px;
	background-image: url(https://i.imgur.com/zLc1LiN.png);
	width: 110px;
	height: 100px;
	border-radius: 5px;
}
.a-13:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-13-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 110px;
	height: 50px;
	background-color: rgb(197, 197, 197);
}
.txt-13 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 30px;
	top: 5px;
}
.txt-2-13 {
	font-size: 13px;
	color: rgba(128, 128, 128);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 17px;
	top: 25px;
}
/* 14 */
.a-14 {
	position: absolute;
	top: 0px;
	left: 1605px;
	background-image: url(https://i.imgur.com/Y6IvOEE.png);
	width: 145px;
	height: 100px;
	border-radius: 5px;
}
.a-14:hover {
	position: absolute;
	top: -2px;
	transition: 0,3s;
	transition-behavior: allow-discrete;
}
.a-14-txt {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 145px;
	height: 50px;
	background-color: rgb(239, 145, 111);
}
.txt-14 {
	font-size: 17px;
	color: white;
	font-family: "Pusia";
	position: absolute;
	left: 39px;
	top: 5px;
}
.txt-2-14 {
	font-size: 13px;
	color: rgba(181, 184, 177);
	font-family: "Comic Sans MS";
	position: absolute;
	left: 38px;
	top: 25px;
}
/* general image container */
.gen-imgs-container {
	position: absolute;
	top: 300px;
	left: 0px;
	width: 1920px;
	min-height: 1500px;
}
.gen-imgs-background {
	position: absolute;
	top: 150px;
	left: 0px;
	width: 1920px;
	min-height: 1350px;
	background-color: rgb(132, 132, 132);
}
.r-c-1 {
	font-family: "Pusia";
	position: absolute;
	top: -10px;
	left: 50px;
	font-size: 25px;
	color: white;
}
/* gen-1 */
.gen-img-1 {
	position: absolute;
	top: 50px;
	left: 50px;
	height: 325px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/SjA2cND.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-2 */
.gen-img-2 {
	position: absolute;
	top: 50px;
	left: 335px;
	height: 350px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/gecrQzZ.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-3 */
.gen-img-3 {
	position: absolute;
	top: 50px;
	left: 620px;
	height: 270px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/Nl8MfNo.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-4 */
.gen-img-4 {
	position: absolute;
	top: 50px;
	left: 905px;
	height: 300px;
	width: 350px;
	background-color: black;
	background-image: url(https://i.imgur.com/xGmgWn8.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-5 */
.gen-img-5 {
	position: absolute;
	top: 50px;
	left: 1290px;
	height: 350px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/j04g4yF.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-6 */
.gen-img-6 {
	position: absolute;
	top: 50px;
	left: 1575px;
	height: 300px;
	width: 270px;
	background-color: black;
	background-image: url(https://i.imgur.com/klubDhF.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-7 */
.gen-img-7 {
	position: absolute;
	top: 410px;
	left: 50px;
	height: 270px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/ad8poLw.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-8 */
.gen-img-8 {
	position: absolute;
	top: 435px;
	left: 335px;
	height: 300px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/2nIF31H.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-9 */
.gen-img-9 {
	position: absolute;
	top: 355px;
	left: 620px;
	height: 350px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/OKaaziS.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-10 */
.gen-img-10 {
	position: absolute;
	top: 385px;
	left: 905px;
	height: 300px;
	width: 350px;
	background-color: black;
	background-image: url(https://i.imgur.com/ZCamORZ.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-11 */
.gen-img-11 {
	position: absolute;
	top: 435px;
	left: 1290px;
	height: 290px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/ch9gXR1.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-12 */
.gen-img-12 {
	position: absolute;
	top: 385px;
	left: 1575px;
	height: 350px;
	width: 270px;
	background-color: black;
	background-image: url(https://i.imgur.com/ONb8cMc.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-13 */
.gen-img-13 {
	position: absolute;
	top: 715px;
	left: 50px;
	height: 350px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/xJK6y2U.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-14 */
.gen-img-14 {
	position: absolute;
	top: 770px;
	left: 335px;
	height: 350px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/6TTJkqF.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-15 */
.gen-img-15 {
	position: absolute;
	top: 740px;
	left: 620px;
	height: 300px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/NkJ3GYw.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-16 */
.gen-img-16 {
	position: absolute;
	top: 720px;
	left: 905px;
	height: 270px;
	width: 350px;
	background-color: black;
	background-image: url(https://i.imgur.com/krwX1jI.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-17 */
.gen-img-17 {
	position: absolute;
	top: 760px;
	left: 1290px;
	height: 330px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/JNT2ZMz.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-18 */
.gen-img-18 {
	position: absolute;
	top: 770px;
	left: 1575px;
	height: 300px;
	width: 270px;
	background-color: black;
	background-image: url(https://i.imgur.com/eNZPnFb.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-19 */
.gen-img-19 {
	position: absolute;
	top: 1100px;
	left: 50px;
	height: 300px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/JM9Xfsr.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-20 */
.gen-img-20 {
	position: absolute;
	top: 1155px;
	left: 335px;
	height: 270px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/WnaNpLm.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-21 */
.gen-img-21 {
	position: absolute;
	top: 1075px;
	left: 620px;
	height: 350px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/Uhtyace.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-22 */
.gen-img-22 {
	position: absolute;
	top: 1025px;
	left: 905px;
	height: 370px;
	width: 350px;
	background-color: black;
	background-image: url(https://i.imgur.com/IZ6lIHW.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-23 */
.gen-img-23 {
	position: absolute;
	top: 1125px;
	left: 1290px;
	height: 320px;
	width: 250px;
	background-color: black;
	background-image: url(https://i.imgur.com/F7plkZe.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
/* gen-24 */
.gen-img-24 {
	position: absolute;
	top: 1105px;
	left: 1575px;
	height: 350px;
	width: 270px;
	background-color: black;
	background-image: url(https://i.imgur.com/HvPx2zh.jpeg);
	background-position: center center;
	border: solid;
	border-width: 2px;
	border-color: #EAEEF0;
}
}


